#solextension, #solextension_old {
	display: none;
	padding: 5px 15px;
	background: #bbbbbb;
}

#reason_text {
	width: 220px;
}

/* POPUP */

#user_input {
	width: 110px;
	margin: 0px;
}
#user_id {
	width: 104px;
	margin: 4px 10px 4px 0px;
}
#submit_button {
	float: right;
	width: 44px;
	margin: 6px 12px;
}
#checkmark {
	float: right;
	width: 16px;
	margin: 8px;
	visibility: hidden;
}
#debug_box {
	margin-top: 2px;
	font-size: 10px;
}
#debug_box input {
	margin: 2px 4px 0px 5px;
	float: left;
}
